{% extends 'base.html.twig' %}

{% block title %}Hello ComptableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% block stylesheets %}  
                <LINK rel="stylesheet" href={{ asset('css/style.css') }}  type="text/css">
{% endblock %}

 
<div id="sideNavigation" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
 <a href="http://127.0.0.1:8000/">Accueil</a>
  <a href="http://127.0.0.1:8000/comptable/menu/">Menu-Comptable</a>
  <a href="http://127.0.0.1:8000/comptable/valider">Selection Fiche de Frais</a>
  <a href="http://127.0.0.1:8000/comptable">Deconnexion</a>
</div>
 
<nav class="topnav">
  <a href="#" onclick="openNav()">
    <svg width="30" height="30" id="icoOpen">
        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
    </svg>
  </a>
  <center><b>GSB Comptable-Valider-Fiche<b><center>
</nav>




  
<div class="example-wrapper">
    <h1>Frais acuellement saisie ✅</h1> 
    idVisiteur: <strong>{{ fiche['idVisiteur']}}</strong></br> 

    mois: <strong>{{ fiche['mois']}}</strong></br>
    nbJustificatif: <strong>{{ fiche['nbJustificatifs']}}</strong></br>
    montant: <strong>{{ fiche['montantValide']}}</strong></br>
    date de modification: <strong>{{ fiche['dateModif']}}</strong></br>
    Etat: <strong>{{ fiche['idEtat']}}</strong></br>
    <br>
    <br>
    <br>
    
    <h1>Fiche Frais Forfait:</h1> 
    
    idVisiteur: <strong>{{ fiche2['idVisiteur']}}</strong></br> 
    

    Mois: <strong>{{ fiche2['mois']}}</strong></br>
    idFraisForfait: <strong>{{ fiche2['idFraisForfait']}}</strong></br>
    Quantite: <strong>{{ fiche2['quantite']}}</strong></br>
    
    
    <h1>Fiche Frais Hors Forfait:</h1> 
    
    idVisiteur: <strong>{{ fiche3['idVisiteur']}}</strong></br> 
    

    Mois: <strong>{{ fiche3['mois']}}</strong></br>
    Libelle: <strong>{{ fiche3['libelle']}}</strong></br>
    Date: <strong>{{ fiche3['date']}}</strong></br>
    Montant: <strong>{{ fiche3['montant']}}</strong></br>
    
    <strong> Validez vous cette fiche?</strong>{{ form(formulaire) }}
</div>

<script>
function openNav() {
    document.getElementById("sideNavigation").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
 
function closeNav() {
    document.getElementById("sideNavigation").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>

<script>
	var ctx = document.getElementById('graph1').getContext('2d')
	ctx.canvas.width = 700;
	ctx.canvas.height = 300;
	var data = {
		labels: ['Taux de clicks', 'nombre de vols', 'montant recupéré', 'Montant clicks théorique(si 100%)'],
		datasets: [
			{
				backgroundColor:'#406bca',
				data: [96,8,309,309]
			
			}
			
		]
	}
	
	var options = {
		responsive: false
	}
	
	var config = {
		type: 'bar',
		data: data,
		options: options
	}
	var graph1 = new Chart(ctx, config)
</script>
	
{% endblock %}
