{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}
{% block stylesheets %}  
                <LINK rel="stylesheet" href={{ asset('css/style.css') }}  type="text/css">
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    a:link, a:visited {
    background-color: #444444;
    color: white;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }

    a:hover, a:active {
    background-color: red;
    }

</style>

<nav class="topnav">
  <a href="#" onclick="openNav()">
    <svg width="30" height="30" id="icoOpen">
        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
    </svg>
  </a>
  <center><b>GSB Visiteur-Menu<b><center>
</nav>

<div class="example-wrapper">
    
    <h1>Menu</h1>
    
    <p style=
    "
    border-left: 6px solid yellowgreen;
    background-color: #e6ffe6;
    text-indent: 1.5%;
    text-max-width: 40%;
    color: yellowgreen;
    "
    > Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>

    {{ form(formulaire) }}
    <br/>
    
    <span><a href="{{ path( 'visiteur/saisirMois' ) }}" class="btn">Consulter</a></span>

    <span><a href="{{ path( 'visiteur/renseigner' ) }}" class="btn">Renseigner</a></span>
    
    </br><br/>
    
    
    
</div>
{% endblock %}
