{% extends 'base.html.twig' %}

{% block title %}Hello VisiteurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <!--<h1>Hello !!! ✅</h1>-->
    <h1>Renseigner un frais forfait</h1>

    <p style="color: greenyellow"> Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    <p> Renseigner mes frais pour le mois : {{ todaymy }}</p>
    
    <p> Ajout d'élement(s) forfaitisé(s) </p>
    {{ form(formulaire) }}
    <br/>
        Total des élements forfaitisés saisis pour le mois courrant : 
                                      </br> - {{ totalF[1] }} 
                                      </br> - {{ totalF[2] }}
                                      </br> - {{ totalF[3] }}
                                      </br> - {{ totalF[4] }}
                                      <br/>
        Total des éléments forfaitisés : {{ total }} euro(s)   <br/>
    
    <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>

</div>
{% endblock %}
