{% extends 'base.html.twig' %}

{% block title %}Projet GSB{% endblock %}

{% block body %}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{% block stylesheets %}  
                <LINK rel="stylesheet" href={{ asset('css/style.css') }}  type="text/css">
{% endblock %}

<div id="sideNavigation" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="http://127.0.0.1:8000/">Accueil</a>
  <a id="btn_delete" href="{{ path( 'visiteur/menu' ) }}">Retour au menu</a>
  </br></br></br>
   {{ form(formulaire) }}
</div>
 
<nav class="topnav">
  <a href="#" onclick="openNav()">
    <svg width="30" height="30" id="icoOpen">
        <path d="M0,5 30,5" stroke="#000" stroke-width="5"/>
        <path d="M0,14 30,14" stroke="#000" stroke-width="5"/>
        <path d="M0,23 30,23" stroke="#000" stroke-width="5"/>
    </svg>
  </a>
  <center><b>Renseigner<b><center>
</nav>

<div class="example-wrapper">
    <!--<h1>Hello !!! ✅</h1>-->
    <h1>Renseigner</h1>

    <p style=" color: greenyellow"> Connecté : {{ prenomV }} {{ nomV }} {{ idVisiteur }}  </p>
    <p> Renseigner mes frais pour le mois courrant : {{ todaymy }}</p>
    </br>
    
    <a href="{{ path( 'visiteur/renseigner/ff' ) }}">Renseigner frais forfait</a>
    <br/>
    <a href="{{ path( 'visiteur/renseigner/fhf' ) }}">Renseigner frais hors forfait</a>
    </br>
    <br/>
    
    
    {#
    
    <p> Element forfaitisé </p>
    {{ form(formulaire) }}
    
    <p> Total : {{ total }} euro(s) </br>
        Elements forfaitisés saisis : </br> - {{ totalF[1] }} 
                                      </br> - {{ totalF[2] }}
                                      </br> - {{ totalF[3] }}
                                      </br> - {{ totalF[4] }}</p>
    
    </br>
    <p> Element hors forfait </p>
    {{ form(formulaire2) }}
    <p> Element hors forfait saisis :  euro(s) </p>
    
    </br>
     
    {#<p> éléments forfaitisés :  </p> 
    <p> éléments hors forfait :  </p> #}
    </br>

</div>

<script>
function openNav() {
    document.getElementById("sideNavigation").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}
 
function closeNav() {
    document.getElementById("sideNavigation").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>

<script>
	var ctx = document.getElementById('graph1').getContext('2d')
	ctx.canvas.width = 700;
	ctx.canvas.height = 300;
	var data = {
		labels: ['Taux de clicks', 'nombre de vols', 'montant recupéré', 'Montant clicks théorique(si 100%)'],
		datasets: [
			{
				backgroundColor:'#406bca',
				data: [96,8,309,309]
			
			}
			
		]
	}
	
	var options = {
		responsive: false
	}
	
	var config = {
		type: 'bar',
		data: data,
		options: options
	}
	var graph1 = new Chart(ctx, config)
</script>


{% endblock %}
















